html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1500px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.site-header {
  padding-top: 40px;
  background-image: url(../img/Rectangle\ 678.png);
}

.site-link {
  margin-top: 0;
  color: #333;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  list-style: none;
}

.site-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;

}

.site-nav {
  display: flex;
  align-items: center;

}

.site-link:not(:last-child) {
  margin-right: 40px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  padding-left: 100px;
  align-items: center;
}

.main-header {
  display: flex;
}

.main-coffee {
  margin-top: 0;
  color: #000;
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}

.main-coffee-text {
  width: 100%;
  margin-top: 0;
  max-width: 464px;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.create-button {
  margin-top: 0;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: all-small-caps;
  letter-spacing: 1px;
  border-radius: 100px;
  background: #0A775F;
  padding: 16px 24px;
  border: navajowhite;
  margin-bottom: 249px;
}

.footer-image {
  position: relative;
}

.logo-image {
  display: flex;
  width: 160px;
  height: 160px;
  transform: rotate(-25deg);
  flex-shrink: 0;
  position: absolute;
  top: -70px;
  left: -70px;

}

.logo-coffee {
  width: 710px;
  height: 696px;
}

/* section */

.section-collection {
  background-image: url(../img/Rectangle\ 116.png);
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

}


.section-coffee {
  background-repeat: no-repeat;
  background-image: url(../img/leaves-left.svg);

}

.main-third-and-fourth {
  margin-right: 114px;
}

.main-first-and-second {
  margin-left: 114px;
}

.types-of-coffee {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps;
  text-align: center;
  margin-bottom: 80px;
}

.coffee-name {
  width: 327px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: all-small-caps;
}

.section {

  margin-bottom: 121px;
}

.coffee-making-composition {
  width: 453px;
  margin-top: 0;
  color: #333;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.section-list-ul {
  margin: 0;
  padding: 0;

}

.section-list-coffee {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.section-list-coffee:nth-child(even) {
  flex-direction: row-reverse;
}

.main-coffee-service {
  background-image: url(../img/Group\ 3616.png  );
  margin-left: 20px;
  margin-right: 20px;
  width: 1440px;
  height: 703px;
}



.why-choose {
  color: #FFF;
  margin-top: 50px;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps;
  margin-bottom: 10px;
}

.coffee-time {
  width: 581px;
  height: 81px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  line-height: 28px;
  opacity: 0.8;
  margin-left: 29%;
  margin-bottom: 80px;
}

.main-site-image {
  margin-bottom: 28px;
}

.best-quality {
  color: #333;
  margin-top: 0;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: all-small-caps;
  margin-bottom: 10px;
}

.discover-site {
  width: 100%;
  max-width: 377px;
  margin-top: 0;
  color: #333;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;

}

.main-site-ul {
  display: flex;
  justify-content: center;
}

.main-site-li {

  list-style: none;
}

.main-site-logo {
  width: 140px;
  height: 144px;
  flex-shrink: 0;
}

.main-site-li:not(last-child) {
  margin-right: 20px;
}

.site-footer {
  background-image: url(../img/Group\ 3620.png);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.site-footer-text {
  width: 312px;
  height: 59px;
  margin-top: 50px;
  color: #FFF;
  
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps;
}

.site-footer-li {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 433px;
  list-style: none;
}
.site-footer-li:not(last-child){
margin-right: 20px;
}
.site-footer-li::before{
  content: "";
  margin-bottom: 20px;
  width: 60px;
height: 60px;
flex-shrink: 0;
border: 4px solid #C99B67;
background: #F8F8F2;
}

.site-footer-inner{
  padding-left: 20px;
padding-right: 28px;
padding-bottom: 40px;
padding-top: 20px;
background-color: #F8F8F2;
}
.site-footer-word {
  width: 231px;
  margin-top: 0;
  color: #333;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: all-small-caps;
  margin-bottom: 10px;
}

.site--footer-list {
  width: 385px;
  margin-top: 0;
  height: 112px;
  flex-shrink: 0;
  color: #333;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.site-footer-ul{
  display: flex;
  justify-content: center;
}